.todo {
	display: flex;
	padding: 10px 15px;
	background-color: #FFF;
	border-bottom: 1px solid #22577A;
}

.todo:nth-child(even) {
 	background-color: #EEE;
 }

.todo:last-of-type {
 	border-bottom: 0;
 }

.todo .id {
	flex: 1 1 50px;
    color: #22577A;
}

.todo .content {
	flex: 1 1 100%;
}

.todo.done .content {
	text-decoration: line-through;
}

 .todo-input {
 	display: block;
 	width: 100%;
 	padding: 10px 15px ;
    border: none;
 	appearance: none;
    //  border-radius: 9px;
 	// border: 1px solid #57CC99 ;
    // border-style: ridge;
 	//background-color: #57CC99;
 	margin-top: 15px;
 	font-size: 20px;
 	outline: none;
 }

.todo-submit {
 	display: block;
 	width: 100%;
 	max-width: 200px;
 	appearance: none;
 	border: none;
 	outline: none;
 	background: none;

 	background-color: #38A3A5;
 	color: #FFF;
 	margin: 15px auto;

 	padding: 10px 15px;
 	font-size: 18px;
 	font-weight: 700;
 }